#credentials-component {
    padding-left: 170px;
}
.credentials-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.credentials-form label {
  font-weight: 500;
  margin-bottom: 3px;
}
.primary-btn {
  background: #7c3aed;
  color: #fff;
  border: none;
  border-radius: 9px;
  padding: 12px 0;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}
.back-btn {
  background: none;
  border: none;
  color: #7c3aed;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}
